<div class="ui-view fade-in">

  <div class="row mb-4">
    <div class="col-md-12">
      <form [formGroup]="searchForm">
        <div class="form-row">
          <div class="col">
            <input class="form-control form-control" id="terms" formControlName="terms" placeholder="Buscar productos..." (keyup)="onSearch($event.target.value)" />
          </div>
          <div class="col-md-1">
            <button class="btn btn-outline-success" type="submit" (click)="onSearch($event.target.value)">Nuevo</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">

      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Resultados</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of searchResults">
            <td>{{ result.name }}</td>
          </tr>
        </tbody>
      </table>

    </div>
    <div class="col-md-4">
    </div>
  </div>

</div>
