<div class="ui-view fade-in" *ngIf="menu">
  <div class="row">
    <h2>{{ menu?.name }}</h2>
  </div>

  <div class="row">
    <div class="col-md-8">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>L</th>
            <th>M</th>
            <th>X</th>
            <th>J</th>
            <th>V</th>
            <th>S</th>
            <th>D</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let slot of [1, 2, 3, 4]">
            <td *ngFor="let weekDay of [1, 2, 3, 4, 5, 6, 7]">
              {{ slot }} - {{ weekDay }}
            </td>
          </tr> -->

          <tr *ngFor="let slot of [1, 2]">
            <td *ngFor="let weekDay of [1, 2, 3, 4, 5, 6, 7]">

              <div *ngFor="let entry of entriesForDaySlot(menu?.entries, weekDay, slot)" class="card text-white bg-success mb-3" style="max-width: 18rem;">
              <!-- <div class="card text-white bg-success mb-0" style="max-width: 18rem;"> -->
                <div class="card-body">
                  <h5 class="card-title">{{ entry.recipe.name }}</h5>
                  <p *ngFor="let i of entry.recipe.ingredients" class="card-text mb-0">
                    {{ i.amount }} {{ i.unit }} de {{ i.product.name | lowercase }}
                    <!-- <ul class="card-text">
                      <li *ngFor="let i of entry.recipe.ingredients">{{ i.amount }} {{ i.unit }} de {{ i.product.name }}</li>
                    </ul> -->
                  </p>
                </div>
              </div>

            </td>
          </tr>
          <tr>
            <td *ngFor="let weekDay of [1, 2, 3, 4, 5, 6, 7]">
              <div class="card text-white bg-dark mb-0">
                <div class="card-header text-center">+</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-2">
      <h2>Lista</h2>
      <p *ngFor="let item of shoppingList(menu.entries)">{{ item.amount }} {{ item.unit }} de {{ item.product.name }}</p>
    </div>

    <div class="col-md-2">
      <h2>Recetas</h2>
      <div *ngFor="let recipe of recipes" class="card mb-0" style="max-width: 18rem;">
        <div class="card-header">{{ recipe.name }}</div>
      </div>
    </div>

  </div>
</div>
