<div class="">

  <!-- <p *ngFor="let entry of entries">{{ entry | json }}</p>
  <h2>Products</h2>
  <p>{{ products | json }}</p> -->

</div>

<table border="1px">
  <thead>
    <tr>
      <th>L</th>
      <th>M</th>
      <th>X</th>
      <th>J</th>
      <th>V</th>
      <th>S</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
